In [12]:
# example of rnn
import numpy as np
import tensorflow as tf
import pprint
import pandas as pd
import malplotlib.pyplot as plt

ModuleNotFoundError: No module named 'malplotlib'

In [5]:
df = pd.read_csv('MSFT.csv')

In [6]:
df.head(2)

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.060055  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062199   308160000

In [9]:
df = df[['Date', 'Close']]
# date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df

           Date       Close
0    1986-03-13    0.097222
1    1986-03-14    0.100694
2    1986-03-17    0.102431
3    1986-03-18    0.099826
4    1986-03-19    0.098090
...         ...         ...
9618 2024-05-13  413.720001
9619 2024-05-14  416.559998
9620 2024-05-15  423.079987
9621 2024-05-16  420.989990
9622 2024-05-17  420.209991

[9623 rows x 2 columns]

In [11]:
df.plot(x='Date', y='Close')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.